body {
    padding: 0px;
    margin: 0px;
}

.screen-loading {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #15191a;
    z-index: 10;
}

.screen-loading-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.main-loader-outside-block {
    display: inline-block;
    width: 350px;
    height: 20px;
    background: #264046;
    border-radius: 20px;
    padding-top: 2px;
}

.main-loader-inside-block {
    display: inline-block;
    width: 346px;
    height: 18px;
    background: #18292d;
    border-radius: 20px;
    text-align: left;
}

.main-loader-progress-bar {
    display: inline-block;
    width: 0%;
    height: 12px;
    background: #264046;
    border-radius: 20px;
    margin-top: 3px;
    margin-left: 3px;
    transition: all .2s ease-in-out;
}

.main-play-btn-outside-block {
    display: inline-block;
    width: 150px;
    height: 148px;
    border-radius: 100px;
    background: #264046;
    padding-top: 2px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.main-play-btn-outside-block:hover {
    transform: scale(1.1);
}

.main-play-btn-inside-block {
    display: inline-block;
    width: 146px;
    height: 146px;
    border-radius: 100px;
    background: #18292d;
}

.main-play-btn-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 55px solid transparent;
    border-bottom: 55px solid transparent;
    border-left: 75px solid #264046;
    margin-top: 20px;
    margin-left: 25px;
}

.game-content {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #15191a;
    z-index: 10;
}

.game- {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #15191a;
    z-index: 10;
}
